language: node_js
node_js:
  - 'stable'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
stages:
  - test
  - name: deploy
    if: branch = master
addons:
  ssh_known_hosts: git.balena-cloud.com
jobs:
  include:
    - stage: test
      script:
        - npm test
    - stage: deploy
      script:
        - eval "$(ssh-agent -s)" #start the ssh agent
        - echo -e $RESIN_DEPLOY_KEY > id_rsa
        - chmod 0600 id_rsa
        - ssh-add ./id_rsa
        - git remote add resin $RESIN_REMOTE
        - git push resin master